{{ define "funcSignature" }}{{ .Name }}(ctx context.Context {{- $message := messageByKind .InKind -}}{{- range $message.Fields }},{{ if .IsBasic }}{{lowerFirst .PublicName}} {{.Kind}}{{- else }}{{lowerFirst .PublicName}} *{{.Kind}}{{- end }}{{- end }})({{- $message := messageByKind .OutKind -}}{{- range $message.Fields }}{{ if .IsRepeated}}[]{{else if .IsBasic}}{{else}}*{{end}}{{.Kind}},{{- end }} error){{ end }}
{{ define "requestSignature" }}{{- $message := messageByKind .InKind -}}{{- range $message.Fields }}{{.PublicName}}:{{lowerFirst .PublicName}}, {{- end }}{{ end }}
{{ define "responseSignature" }}{{- $message := messageByKind .OutKind -}}{{- range $message.Fields }}domResp.{{.PublicName}}, {{- end }}{{ end }}
{{- if ne (len .Services) 0}}
package {{ projectName }}

import(
    "context"
	"fmt"
	
    "google.golang.org/grpc"
	"github.com/go-kit/kit/log"
    "github.com/go-kit/kit/log/level"
    "github.com/go-kit/kit/endpoint"

    pb "{{ go_package }}"
    kitGRPC "github.com/go-kit/kit/transport/grpc"
)

type grpcClient struct{
	log log.Logger
    {{- range $service := .Services }}
        {{- range $method := $service.Methods}}
            {{- if .NoStreaming }}
                {{.Name}}Endpoint endpoint.Endpoint
            {{- else if and .IsServerStreaming (not .IsClientStreaming) }}
                //{{.Name}}Endpoint endpoint.Endpoint // half duplex
            {{- else if and (not .IsServerStreaming) .IsClientStreaming }}
                //{{.Name}}Endpoint endpoint.Endpoint // reverse half duplex
            {{- else if and (.IsServerStreaming) (.IsClientStreaming) }}
                //{{.Name}}Endpoint endpoint.Endpoint  // full duplex
            {{- end}} {{/* streaming ifs*/}}
        {{- end}} {{/* range Method */}}
    {{- end }} {{/* range services */}}
}

func (c *grpcClient) Log() log.Logger {
	return c.log
}

func NewClient(conn *grpc.ClientConn, logger log.Logger, options ...kitGRPC.ClientOption) Service {
	return &grpcClient{
		log:logger, {{- range $service := .Services }}
            {{ $serviceName := .Name }}
            {{ range $method := $service.Methods}}
            {{- if and $method.NoStreaming}}	
                    {{.Name }}Endpoint : kitGRPC.NewClient(
						conn,
						"{{ pb_package }}.{{ $serviceName }}Service",
						"{{.Name}}",
						encode{{.Name}}GRPCRequest(logger),
						decode{{.Name}}GRPCResponse(logger),
						&pb.{{.OutKind}}{},
						options...,
					).Endpoint(),
            {{- end }}{{/* if-else no streaming */}}{{ end }}{{/* range Method */}}
        {{- end }} {{/* range services */}}
	}
}

{{- range $service := .Services }}
    {{ $serviceName := .Name | upperFirst }}
    {{- range $method := $service.Methods}}            
        {{ if and $method.NoStreaming}}            
            func encode{{.Name}}GRPCRequest(logger log.Logger) func(context.Context, interface{})(interface{},error){
                return func(ctx context.Context, req interface{}) (interface{}, error) {
                    pbReq, ok := req.(*{{.InKind}})
                    if !ok{
                        err := fmt.Errorf("expecting *{{.InKind}}Request received %T", req)
                        level.Error(logger).Log("decode{{.Name}}GRPCRequest",err)
                        return nil, err
                    }
                    return NewPBFrom{{.InKind}}(pbReq), nil
                }
            }

            func decode{{.Name}}GRPCResponse(logger log.Logger) func(context.Context, interface{})(interface{},error){
                return func(ctx context.Context, resp interface{}) (interface{}, error) {
                    domResp, ok := resp.(*pb.{{.OutKind}})
                    if !ok{
                        err :=  fmt.Errorf("expecting *pb.{{.OutKind}} received %T", resp)
                        level.Error(logger).Log("encode{{.Name}}GRPCRequest",err)
                        return nil, err
                    }				
                    return New{{.OutKind}}FromPB(domResp), nil
                }
            }

            func (c *grpcClient) {{ template "funcSignature" . }} {
                resp, err := c.{{.Name}}Endpoint(ctx,  &{{ .InKind }}{ {{ template "requestSignature" . }} })
                if err != nil {
                    return {{ $message := messageByKind .OutKind -}}{{- range $message.Fields }}{{.ZeroValue}},{{- end }} err
                }
                domResp, ok := resp.(*{{.OutKind}})
                if !ok{
                    err := fmt.Errorf("expecting *{{.OutKind}} received %T", resp)
                    return {{ $message := messageByKind .OutKind -}}{{- range $message.Fields }}{{.ZeroValue}},{{- end }} err
                } 
                return {{ template "responseSignature" . }} nil
            }
        {{- else if and .IsServerStreaming (not .IsClientStreaming) }}
            // unusable : client has to implement Service interface for half duplex {{.Name}}
            func (c *grpcClient) {{.Name}}(req *pb.{{.InKind}}, stream pb.{{$service.Name}}_{{.Name}}Server) error {
               return nil
		    }
        {{- else if and (not .IsServerStreaming) .IsClientStreaming }}
            // unusable : client has to implement Service interface for reverse half duplex {{.Name}}
            func (c *grpcClient) {{.Name}}(stream pb.{{ $serviceName }}_{{.Name}}Server) error {
		        return nil
		    }      
        {{- else if and (.IsServerStreaming) (.IsClientStreaming) }}
            // unusable : client has to implement Service interface for full duplex {{.Name}}
            func (c *grpcClient) {{.Name}}(stream pb.{{ $serviceName }}_{{.Name}}Server) error {
				return nil
		    }   
        {{- end }} {{/* streaming ifs*/}}
    {{ end }} {{/* range Method */}}
{{- end }} {{/* range services */}}

{{- end }}{{/* we have service */}}